/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font: 300 14px "Open Sans", sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.wrapper {
  margin-top: -150px;
  min-height: 100%;
}

.content-wrap {
  padding-top: 150px;
}

/*STYLE RESET END*/
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1115px;
  margin: 0 auto;
}

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-sa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.flex-d-column-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-e {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.w20 {
  width: 20%;
}

.ball {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-box-shadow: 0 0 35px #2187e7;
          box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
}

.ball1 {
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(0, 183, 229, 0.9);
  opacity: .9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 50px;
          border-radius: 50px;
  -webkit-box-shadow: 0 0 15px #2187e7;
          box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  -moz-animation: spinoff .5s infinite linear;
  -webkit-animation: spinoff .5s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.loader {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.loader.active {
  z-index: 999999;
  opacity: 1;
}

.load-wraper {
  height: 50px;
}

.accordion-name {
  padding: 20px 50px 20px 45px;
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 28px;
          border-radius: 28px;
  background-color: #ffffff;
  font-size: 18px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.accordion {
  color: #737373;
}

.accordion + .accordion {
  margin-top: 25px;
}

.accordion .accordion-content {
  color: transparent;
}

.accordion.open {
  -webkit-box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 28px;
          border-radius: 28px;
}

.accordion.open .accordion-name {
  -webkit-border-radius: 28px 28px 0 0;
          border-radius: 28px 28px 0 0;
  background-color: #fff;
}

.accordion.open .accordion-content {
  background-color: #fff;
  -webkit-border-radius: 0 0 28px 28px;
          border-radius: 0 0 28px 28px;
  color: #737373;
}

.accordion.open .accordion-content::before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 10px;
  background-color: #fff;
}

.accordion-wrap {
  width: 100%;
  max-width: 920px;
  margin: 55px auto 50px;
}

.accordion-content {
  font-weight: 600;
  font-style: italic;
  line-height: 30px;
  position: relative;
}

.accordion-content div {
  padding: 15px 15px 40px;
}

.btn {
  height: 62px;
  min-width: 256px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
}

.btn.btn-def {
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  background-color: #92cf01;
}

.btn.btn-def.mini {
  height: 57px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  min-width: 225px;
}

.btn.btn-def:hover {
  background-color: #9ed51c;
}

body {
  background: url("../img/bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

body.orange-bg {
  background: url("../img/orange-bg.png") no-repeat center/cover;
  background-attachment: fixed;
}

body.blue-bg {
  background: url("../img/blue-vid-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

body.pink-bg {
  background: url("../img/pink-bg.png") no-repeat center;
  background-attachment: fixed;
}

body.yellow-bg {
  background: url("../img/yellow-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

body.online-movies-bg {
  background: url("../img/online-movies-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

body.online-video-bg {
  background: url("../img/online-video-bg.png") no-repeat center/cover;
  background-attachment: fixed;
}

body.download-music-bg {
  background: url("../img/download-music-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

body.download-easy-screen-bg {
  background: url("../img/download-easy-screen-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

body.downl-easy-screen-bg {
  background: url("../img/downl-easy-screen-2-bg.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

body.keep-share-bg {
  background: url("../img/keep-share-bg.png") no-repeat center/cover;
  background-attachment: fixed;
}

body.keep-share-your-file {
  background: url("../img/keep-share-your-file.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

header {
  padding: 30px 0;
  position: relative;
}

.nav .ar-img {
  margin-left: 10px;
}

.nav .btn + .btn {
  margin-left: 25px;
}

.ex-mob {
  display: none;
}

.down-img {
  margin-right: 23px;
}

.logo {
  margin-right: 25px;
}

.title {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.title.big {
  font-size: 60px;
  font-weight: 900;
}

.title.big.green {
  background-color: #b6d912;
  display: inline-block;
  padding: 5px 15px;
}

.file-name {
  font-weight: 700;
}

.nav-drop {
  position: relative;
}

.nav-drop .drop-more {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  background-color: #92cf01;
  -webkit-border-radius: 0 0 35px 35px;
          border-radius: 0 0 35px 35px;
  padding: 0 30px 20px;
  -webkit-box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 14px;
  text-decoration: underline;
  opacity: 0;
  z-index: -1;
}

.nav-drop .drop-more li + li {
  margin-top: 7px;
}

.nav-drop .drop-more:hover {
  background-color: #9ed51c;
}

.nav-drop .ar-img {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.nav-drop.active {
  -webkit-border-radius: 35px 35px 0 0;
          border-radius: 35px 35px 0 0;
}

.nav-drop.active .drop-more {
  opacity: 1;
  z-index: 99;
}

.nav-drop.active .ar-img {
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-drop:hover .drop-more {
  background-color: #9ed51c;
}

.link-file {
  margin-top: 13px;
}

.copy,
.rubbish {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  position: relative;
  cursor: pointer;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.copy img,
.rubbish img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.copy .copy-ic-hover,
.copy .rubbish-ic-hover,
.rubbish .copy-ic-hover,
.rubbish .rubbish-ic-hover {
  display: none;
}

.copy:hover,
.rubbish:hover {
  background-color: #fff;
}

.copy:hover .copy-ic,
.copy:hover .rubbish-ic,
.rubbish:hover .copy-ic,
.rubbish:hover .rubbish-ic {
  display: none;
}

.copy:hover .copy-ic-hover,
.copy:hover .rubbish-ic-hover,
.rubbish:hover .copy-ic-hover,
.rubbish:hover .rubbish-ic-hover {
  display: block;
}

.form-group input, .form-group textarea {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #717171;
}

.form-group input::-webkit-input-placeholder, .form-group textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}

.form-group input::-moz-placeholder, .form-group textarea::-moz-placeholder {
  text-transform: uppercase;
}

.form-group input:-ms-input-placeholder, .form-group textarea:-ms-input-placeholder {
  text-transform: uppercase;
}

.form-group input::-ms-input-placeholder, .form-group textarea::-ms-input-placeholder {
  text-transform: uppercase;
}

.form-group input::placeholder, .form-group textarea::placeholder {
  text-transform: uppercase;
}

.form-group + .form-group {
  margin-top: 25px;
}

textarea {
  min-height: 120px;
}

.burger {
  width: 20px;
  display: none;
  cursor: pointer;
}

.burger span {
  background-color: #fff;
  height: 2px;
  width: 100%;
  display: block;
}

.burger span + span {
  margin-top: 5px;
}

.drop {
  padding-top: 20px;
}

.drop-files-wrap {
  padding: 0 65px;
}

.drop-files-wrap .file {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  display: block;
  -webkit-box-shadow: 0 0 13px rgba(119, 94, 164, 0.75);
          box-shadow: 0 0 13px rgba(119, 94, 164, 0.75);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #7055fc;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
}

.drop-files-wrap .file input {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.drop-files-wrap .file .big-plus {
  margin-top: 15px;
  margin-bottom: 30px;
}

.drop-files-wrap .file .drop-title {
  margin-top: 15px;
  font-size: 24px;
}

.drop-files-wrap .file .big-arr {
  position: absolute;
  right: 100.5%;
  bottom: -55px;
}

.drop-files-wrap .file .big-arr-files {
  position: absolute;
  top: -77px;
  right: -69px;
}

.uploading {
  padding-top: 25px;
}

.load-wrap {
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 20px 0 13px;
  margin-top: 10px;
}

.load-wrap .file-name {
  text-align: right;
  padding-right: 15px;
}

.line-full-load {
  position: relative;
  height: 6px;
  max-width: 695px;
  width: 100%;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  background-color: #372a7e;
  margin-top: 6px;
}

.line-load {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75%;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#b90068), to(#becf01));
  background-image: -webkit-linear-gradient(left, #b90068 0%, #becf01 100%);
  background-image: -o-linear-gradient(left, #b90068 0%, #becf01 100%);
  background-image: linear-gradient(to right, #b90068 0%, #becf01 100%);
}

.line-load .percent {
  position: absolute;
  right: -15px;
  top: -24px;
  font-weight: 700;
}

.link-file {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
}

.link-file .copy {
  margin-left: 15px;
}

input.copy-link {
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  min-width: 210px;
  text-align: right;
}

.copy-link-wrap {
  width: 100%;
}

.copy-link-wrap input {
  width: 100%;
}

.history {
  padding-top: 35px;
  overflow: hidden;
}

.history-table {
  border-collapse: collapse;
  width: 100%;
}

.history-table tr + tr {
  border-top: 1px solid #fff;
}

.history-table td {
  display: inline-table;
  margin: 10px;
}

.hov-more {
  position: absolute;
  width: 160px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(56, 42, 126, 0.9);
  -webkit-border-radius: 15px;
          border-radius: 15px;
  bottom: -webkit-calc(100% + 18px);
  bottom: calc(100% + 18px);
  left: -20px;
  opacity: 0;
  z-index: -1;
}

.hov-more:before {
  content: '';
  position: absolute;
  top: 100%;
  border: 7px solid transparent;
  width: 0;
  height: 0;
  border-top: 14px solid rgba(56, 42, 126, 0.9);
  left: 30px;
}

.answer-load {
  position: relative;
  cursor: pointer;
}

.answer-load .suc,
.answer-load .err {
  display: none;
}

.answer-load.successful .suc {
  display: block;
}

.answer-load.error .err {
  display: block;
}

.answer-load:hover .hov-more {
  opacity: 1;
  z-index: 1;
}

.heading-text {
  font-size: 48px;
  margin-left: 12px;
  line-height: 45px;
}

.drop .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advertising {
  width: 67%;
  height: 90px;
  background-color: #fff;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.center-wrap {
  margin-top: 130px;
}

.center-wrap .download-page-wrap {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-wrap .download-page-wrap .file-wrap {
  position: relative;
  display: block;
  -webkit-box-shadow: 0 0 13px rgba(49, 47, 47, 0.75);
          box-shadow: 0 0 13px rgba(49, 47, 47, 0.75);
  text-align: center;
  padding: 15px 0;
  width: 160px;
  height: 160px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.center-wrap .download-page-wrap .file-wrap .photo {
  margin-top: 15px;
  margin-bottom: 30px;
}

.center-wrap .download-page-wrap .file-loaded {
  height: 100%;
  width: 325px;
}

.center-wrap .download-page-wrap .file-loaded .photo {
  max-width: 100%;
  width: 100%;
  max-height: auto;
  cursor: pointer;
}

.center-wrap .download-page-wrap .drop-title {
  margin-top: 10px;
}

.center-wrap .advertising {
  width: 300px;
  height: 250px;
}

.download-line {
  margin: 20px 0 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-line .tab-line {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-line .tab-line .tabl-inp {
  margin-right: 80px;
}

.download-line .tabl-copy .popup-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 10px;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  position: relative;
  cursor: pointer;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.download-line .tabl-copy .popup-btn:hover {
  background-color: #fff;
}

.download-line .tabl-copy .popup-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.download-line .tabl-copy .popup-btn span:before, .download-line .tabl-copy .popup-btn span:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -9px;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.download-line .tabl-copy .popup-btn span:before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.download-line .tabl-copy .popup-btn span:after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.download-line .tabl-copy .popup-btn:hover span {
  background-color: #7055fc;
}

.download-line .tabl-copy .popup-btn:hover span:after {
  background-color: #7055fc;
}

.download-line .tabl-copy .popup-btn:hover span:before {
  background-color: #7055fc;
}

.download-line .file {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 16px 13px 14px;
  border: 2px solid #fff;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.download-line .file use {
  fill: #fff;
}

.download-line .file input {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 35px;
}

.download-line .file:hover {
  background-color: #fff;
}

.download-line .file:hover use {
  fill: #7055fc;
}

.center-wrap-img {
  margin-top: 80px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.center-wrap-img .photo {
  width: 100%;
  cursor: pointer;
}

.def-section {
  padding-top: 60px;
}

.content-privacy {
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.content-privacy .privacy-card {
  margin-top: 60px;
}

.content-privacy .privacy-title {
  font-size: 24px;
  font-weight: 700;
}

.content-privacy .privacy-text {
  margin-top: 15px;
}

.form-wrap {
  max-width: 540px;
  width: 100%;
  margin: 85px auto 0;
}

.form-wrap .form-mt {
  margin-top: 65px;
}

.form-group {
  height: 46px;
  -webkit-box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 23px;
          border-radius: 23px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.form-group.text-area {
  padding: 15px 20px;
  display: block;
  height: auto;
}

.wrap-files-card {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.files-card {
  width: 15%;
  margin: 45px 9px 0;
  position: relative;
}

.files-card .icon-files {
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  height: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  overflow: hidden;
}

.files-card .icon-files .ic-files {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.files-card .icon-files .hov-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.files-card .icon-files .hov-card div + div {
  margin-left: 25px;
}

.files-card .icon-files:hover {
  background-color: rgba(56, 42, 126, 0.8);
}

.files-card .icon-files:hover .ic-files {
  opacity: 0;
}

.files-card .icon-files:hover .hov-card {
  opacity: 1;
  z-index: 1;
}

.files-card .file-title {
  text-align: center;
  margin-top: 5px;
}

.files-card .copy-link.card {
  position: absolute;
  opacity: 0;
  z-index: -9;
}

.files-card-clear {
  width: 15%;
}

.more-card {
  margin-top: 100px;
}

.more-card .btn {
  min-width: 160px;
}

.info {
  margin-top: 60px;
}

.info .container {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.info-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.info-card {
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  padding: 15px 19px 20px;
  width: 49%;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.info-card.big {
  width: 100%;
  margin-top: 55px;
  text-align: center;
}

.info-card.big .info-title {
  font-size: 24px;
}

.info-card.big .info-desc {
  margin-top: 3px;
}

.info-card.big .info-desc p + p {
  margin-top: 5px;
}

.info-desc {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.info-desc p + p {
  margin-top: 15px;
}

.info-desc li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-desc li img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 20px;
}

.info-desc li + li {
  margin-top: 13px;
}

.info-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
}

ul.info-desc {
  padding-left: 30px;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 1115px;
}

.cookies-wrap {
  background-color: #fff;
  height: 0;
  min-height: 73px;
  -webkit-box-shadow: 0 0 13px rgba(119, 94, 164, 0.75);
          box-shadow: 0 0 13px rgba(119, 94, 164, 0.75);
  -webkit-border-radius: 20px 20px 0 0;
          border-radius: 20px 20px 0 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookies-wrap p {
  color: #000000;
  font-size: 18px;
  font-style: italic;
}

.cookies-wrap .exit {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.cookies-wrap a {
  color: #7055fc;
  text-decoration: underline;
}

.default-screen {
  padding: 120px 0;
  text-align: center;
  overflow: hidden;
}

.default-screen.min {
  padding: 0 0 100px 0;
}

.def-content {
  margin: 75px 0 60px;
  position: relative;
}

.speed {
  position: absolute;
  top: -64px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.speed .speed-line {
  position: absolute;
  bottom: 83px;
  left: 56%;
  -webkit-transform: translateX(-50%) rotate(-42deg);
      -ms-transform: translateX(-50%) rotate(-42deg);
          transform: translateX(-50%) rotate(-42deg);
  -webkit-transform-origin: 30% 65%;
      -ms-transform-origin: 30% 65%;
          transform-origin: 30% 65%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.speed.active .speed-line {
  -webkit-transform: translateX(-50%) rotate(42deg);
      -ms-transform: translateX(-50%) rotate(42deg);
          transform: translateX(-50%) rotate(42deg);
}

.btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-wrap .btn {
  height: auto;
  font-size: 72px;
  font-weight: 300;
  padding: 10px 60px 15px;
  background-color: #b6d912;
}

.btn-wrap .btn:hover {
  background-color: #c9d912;
}

.btn-wrap_new .btn-def_border {
  -webkit-border-radius: 59px;
          border-radius: 59px;
}

.btn-wrap_new .btn-def_border:hover {
  background-color: #ffc600;
}

.speed-screen,
.sound-screen {
  margin: 130px 0;
}

.sound-screen {
  cursor: pointer;
}

.left-s,
.right-s {
  position: absolute;
  top: 50%;
}

.left-s {
  left: 7%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translateY(-50%) rotate(-10deg);
      -ms-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.right-s {
  right: 7%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translateY(-50%) rotate(10deg);
      -ms-transform: translateY(-50%) rotate(10deg);
          transform: translateY(-50%) rotate(10deg);
}

.sound-img {
  position: relative;
  z-index: 2;
}

.sound-screen.active .left-s {
  -webkit-transform: translateY(-50%) rotate(10deg);
      -ms-transform: translateY(-50%) rotate(10deg);
          transform: translateY(-50%) rotate(10deg);
}

.sound-screen.active .right-s {
  -webkit-transform: translateY(-50%) rotate(-10deg);
      -ms-transform: translateY(-50%) rotate(-10deg);
          transform: translateY(-50%) rotate(-10deg);
}

.download-music-bg .def-content {
  width: 100%;
  height: 538px;
  background: url("../img/music-line.png") repeat-x;
}

.download-music-bg .def-content img {
  display: none;
}

.standart-card-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  overflow: hidden;
  margin-left: -25px;
}

.standart-card {
  width: 31%;
  min-height: 290px;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  padding: 15px 20px;
  text-align: center;
  margin-left: 25px;
  margin-top: 15px;
}

.standart-card.seren {
  background-color: #48396f;
}

.standart-card.orange-light {
  background-color: #ff932d;
}

.standart-card.yellow {
  background-color: #ffb807;
}

.standart-card.orange {
  background-color: #ff793c;
}

.icon-s-card {
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-s-card {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
}

.desc-s-card {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

.faq {
  margin-top: 50px;
}

footer {
  min-height: 150px;
  height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.foot-nav a + a {
  margin-left: 30px;
}

.foot-nav a:hover {
  text-decoration: underline;
}

.foot-nav.black {
  color: #000000;
}

.logo-foot {
  margin-top: 20px;
  display: inline-block;
}

.popup {
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.popup.active {
  opacity: 1;
  z-index: 99999999;
}

.popup .form {
  margin-top: 30px;
}

.popup .form .copy-inp {
  margin-bottom: 20px;
  width: 100%;
  -webkit-appearance: none;
  height: 36px;
  padding-left: 15px;
  -webkit-box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
  -webkit-border-radius: 18px;
          border-radius: 18px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #717171;
}

.pop-continue {
  max-width: 355px;
  width: 100%;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  padding: 45px 25px;
  position: relative;
}

.pop-continue .text-pop {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #555555;
  text-align: center;
}

.pop-continue .down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.pop-continue .foot-nav {
  color: #444444;
  margin-top: 55px;
  text-align: center;
}

.pop-continue .exit-pop {
  position: absolute;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.pop-continue .pop-continue-text {
  text-align: center;
  color: #000000;
  font-size: 24px;
}

.download-pop .pop-continue {
  height: 300px;
  margin-top: -20%;
}

.download-pop .icon-download {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 102%;
}

.click-img {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.notif {
  padding: 30px 30px 14px;
  position: fixed;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.notif .notif-text {
  font-size: 24px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-left: 25px;
}

.notif .notif-text p + p {
  margin-top: 10px;
}

.notif .exit-notif {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.notif.active {
  z-index: 99;
  opacity: 1;
}

.scroll-fullpage {
  background: url("../img/screen10-bg.jpg") no-repeat center/cover;
}

.section {
  padding: 40px 0 50px;
}

.fp-tableCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 88px;
}

.screen-first {
  background: url("../img/screen1-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-second {
  background: url("../img/screen2-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-second .screen-wrap .screen-img .big-arrow {
  top: 160px;
  left: -285px;
}

.screen-third {
  background: url("../img/screen3-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-third .screen-wrap .screen-img .big-arrow {
  top: 35px;
  left: -195px;
}

.screen-fourth {
  background: url("../img/screen4-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-fourth .screen-wrap .screen-img .big-arrow {
  top: 165px;
  left: 265px;
}

.screen-fifth {
  background: url("../img/screen5-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-fifth .screen-wrap .screen-img .big-arrow {
  top: 70px;
  left: 255px;
}

.screen-sixth {
  background: url("../img/screen6-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-sixth .screen-wrap .screen-img .big-arrow {
  top: -180px;
  left: -275px;
}

.screen-seventh {
  background: url("../img/screen7-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-seventh .screen-wrap .screen-img .big-arrow {
  top: -80px;
  left: -330px;
}

.screen-eighth {
  background: url("../img/screen8-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-eighth .screen-wrap .screen-img .big-arrow {
  top: -100px;
  left: -330px;
}

.screen-ninth {
  background: url("../img/screen9-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.screen-tenth {
  background: url("../img/screen10-bg.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 40px 0 0;
}

.screen-tenth .fp-tableCell {
  padding-bottom: 40px;
}

.nomber-screen {
  font-size: 290px;
  line-height: 198px;
}

.screen-wrap {
  padding-left: 15px;
  margin-top: 40px;
}

.screen-wrap .screen-text {
  width: 32%;
  text-align: center;
  margin-right: 80px;
  position: relative;
  z-index: 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.screen-wrap .screen-text .heading-screen-text {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
}

.screen-wrap .screen-text .screen-link {
  margin-top: 50px;
  font-size: 24px;
}

.screen-wrap .screen-text .screen-link .btn-start-download {
  font-weight: 700;
  text-decoration: underline;
}

.screen-wrap .screen-text .screen-link .link-screen-text {
  line-height: 30px;
}

.screen-wrap .screen-text .btn-download {
  margin-top: 80px;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  -webkit-box-shadow: 0 0 18px rgba(0, 126, 134, 0.75);
          box-shadow: 0 0 18px rgba(0, 126, 134, 0.75);
  -webkit-border-radius: 51px;
          border-radius: 51px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffd200), to(#ffa800));
  background-image: -webkit-linear-gradient(left, #ffd200 0%, #ffa800 100%);
  background-image: -o-linear-gradient(left, #ffd200 0%, #ffa800 100%);
  background-image: linear-gradient(to right, #ffd200 0%, #ffa800 100%);
  padding: 35px 120px;
  cursor: pointer;
}

.screen-wrap .screen-text .btn-download_little {
  margin-top: 50px;
  padding: 20px 80px;
}

.screen-wrap .screen-img {
  position: relative;
}

.screen-wrap .screen-img img:first-child {
  width: 100%;
}

.screen-wrap .screen-img .big-arrow {
  position: absolute;
  top: 150px;
  left: -120px;
}

.btn-scroll {
  width: 70px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.btn-scroll:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #fff;
  width: 50px;
  height: 3px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-scroll:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 19px;
  background-color: #fff;
  width: 50px;
  height: 3px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-scroll span {
  display: block;
  position: relative;
  left: -1px;
  top: 6px;
  width: 100%;
  height: 30px;
}

.btn-scroll span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 11px;
  background-color: #fff;
  width: 35px;
  height: 2px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-scroll span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  background-color: #fff;
  width: 35px;
  height: 2px;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer-scrollpage {
  min-height: 80px;
}

.footer-scrollpage a {
  font-size: 24px;
  text-transform: uppercase;
}

@media screen and (max-width: 1920px) {
  .download-music-bg .def-content {
    height: auto;
    background: none;
  }
  .download-music-bg .def-content img {
    display: block;
  }
}

@media screen and (max-width: 1400px) {
  .screen-wrap .screen-text {
    width: 50%;
  }
  .screen-wrap .screen-text .screen-link {
    margin-top: 30px;
  }
  .screen-wrap .screen-text .btn-download {
    margin-top: 50px;
  }
  .screen-wrap .screen-text .btn-download_little {
    margin-top: 30px;
  }
  .screen-wrap .screen-img .big-arrow {
    display: none;
  }
}

@media screen and (max-width: 1115px) {
  .btn {
    min-width: 220px;
    font-size: 14px;
  }
  .nav .btn + .btn {
    margin-left: 15px;
  }
  .cookies-wrap {
    padding: 0 30px;
    text-align: center;
  }
  .cookies {
    width: 90%;
    max-width: 100%;
  }
  .right-s {
    right: 1%;
  }
  .left-s {
    left: 1%;
  }
  .standart-card {
    width: 45%;
  }
  .screen-wrap .screen-text {
    width: 50%;
    margin-right: 15px;
  }
  .screen-wrap .screen-text .screen-link {
    margin-top: 15px;
  }
  .screen-wrap .screen-text .btn-download {
    margin-top: 30px;
  }
  .screen-wrap .screen-text .btn-download_little {
    margin-top: 15px;
  }
}

@media screen and (max-width: 991px) {
  header {
    padding: 15px 0;
  }
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav {
    margin-top: 15px;
  }
  .logo {
    margin-right: 0;
  }
  .drop {
    margin-top: 55px;
  }
  .w20 {
    width: 30%;
  }
  .files-card,
  .files-card-clear {
    width: 18%;
  }
  .info-title {
    font-size: 24px;
  }
  ul.info-desc {
    padding-left: 0;
  }
  .right-s,
  .left-s {
    width: 300px;
  }
  .heading-text {
    margin-left: 0;
    margin-top: 15px;
    text-align: center;
  }
  .advertising {
    width: 77%;
  }
  .center-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .center-wrap .download-page-wrap {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px 0;
  }
  .download-line {
    margin: 20px 0 50px;
  }
  .screen-first .screen-wrap {
    padding-right: 15px;
  }
  .screen-first .screen-wrap .screen-text {
    width: 100%;
    margin-right: 0;
  }
  .screen-first .screen-wrap .screen-text .screen-link {
    margin-top: 40px;
  }
  .screen-first .screen-wrap .screen-text .btn-download {
    margin-top: 80px;
  }
  .screen-first .screen-wrap .screen-img {
    display: none;
  }
  .screen-wrap .screen-img {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .standart-card {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .standart-card-wrap {
    margin-left: 0;
  }
  .info-card {
    width: 100%;
  }
  .info-card.big {
    margin-top: 0;
  }
  .info-card + .info-card {
    margin-top: 30px;
  }
  .cookies-wrap p {
    font-size: 16px;
  }
  .action-load {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .line-full-load {
    margin-top: 25px;
  }
  .load-wrap .file-name {
    text-align: center;
    padding-right: 0;
  }
  .w20 {
    width: auto;
  }
  .burger {
    display: block;
  }
  header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav {
    margin-top: 0;
  }
  .nav .btn + .btn {
    margin-left: 0;
    margin-top: 15px;
  }
  .nav-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 40px 15px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
    -webkit-border-radius: 0 0 0 20px;
            border-radius: 0 0 0 20px;
  }
  .nav-wrap.active {
    z-index: 99;
    opacity: 1;
  }
  .ex-mob {
    display: block;
    position: absolute;
    right: 15px;
    top: 45px;
    width: 20px;
    cursor: pointer;
  }
  .logo {
    width: 180px;
  }
  .files-card,
  .files-card-clear {
    width: 30%;
  }
  .title.big {
    font-size: 43px;
  }
  .btn-wrap .btn {
    font-size: 55px;
  }
  .notif .notif-text {
    font-size: 20px;
  }
  .ok-down {
    width: 100px;
  }
  .default-screen {
    padding: 80px 0;
  }
  .right-s, .left-s {
    width: 100px;
  }
  .right-s {
    right: 0;
  }
  .left-s {
    left: 0;
  }
  .speed .speed-line {
    bottom: 27%;
    width: 118px;
  }
  .accordion-name {
    font-size: 14px;
  }
  .header-download-page .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .heading-text {
    width: 100%;
  }
  .advertising {
    width: 100%;
  }
  .nomber-screen {
    font-size: 250px;
    line-height: 170px;
  }
  .screen-wrap {
    padding-right: 15px;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .screen-wrap .screen-text {
    width: 100%;
    margin-right: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: block;
  }
  .screen-wrap .screen-img {
    width: 80%;
    margin-top: 30px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: block;
  }
  .footer-scrollpage a {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .title-s-card {
    font-size: 22px;
  }
  .desc-s-card {
    font-size: 16px;
  }
  .click-img {
    display: none;
  }
  .info-title,
  .info-card.big .info-title {
    font-size: 20px;
  }
  .info-desc {
    font-size: 15px;
  }
  .big-arr-files,
  .big-arr {
    display: none;
  }
  .drop-files-wrap {
    padding: 0;
  }
  .drop-files-wrap .file {
    padding: 15px;
  }
  .tabl-inp {
    width: 67%;
  }
  .tabl-copy {
    width: 24%;
  }
  .cookies-wrap p {
    font-size: 14px;
  }
  .cookies-wrap {
    min-height: 90px;
  }
  .files-card,
  .files-card-clear {
    width: 50%;
  }
  .title.big {
    font-size: 25px;
  }
  .btn-wrap .btn {
    font-size: 36px;
  }
  .ok-down {
    width: 36px;
  }
  .notif .notif-text {
    font-size: 14px;
  }
  .notif .notif-text p + p {
    margin-top: 5px;
  }
  .notif .exit-notif {
    top: 15px;
    right: 15px;
  }
  .icon-download {
    display: none;
  }
  .right-s, .left-s {
    display: none;
  }
  .sound-screen {
    margin: 50px 0;
  }
  .speed {
    top: -40px;
  }
  .speed .speed-line {
    width: 76px;
    left: 58%;
  }
  .download-line .tab-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .download-line .tab-line .tabl-inp {
    margin-right: 0;
    width: 100%;
  }
  .download-line .tab-line .tabl-copy {
    margin-top: 10px;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .center-wrap .download-page-wrap .file-loaded {
    width: 300px;
  }
  .footer-download-page a {
    display: block;
  }
  .footer-download-page a + a {
    margin-left: 0;
    margin-top: 5px;
  }
  .fp-tableCell {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen-first .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .screen-first .fp-tableCell {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .screen-first .logo {
    margin-bottom: 20px;
  }
  .screen-first .nomber-screen {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .screen-first .screen-wrap .screen-text .heading-screen-text {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 34px;
  }
  .screen-first .screen-wrap .screen-text .screen-link {
    display: none;
  }
  .screen-tenth .fp-tableCell {
    padding-bottom: 80px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .screen-wrap .screen-text .btn-download {
    margin-top: 40px;
    padding: 20px 80px;
  }
  .screen-wrap .screen-text .btn-download_little {
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 25px;
  }
  .btn-scroll {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: none;
  }
}

@media screen and (max-height: 850px) {
  .section {
    padding: 20px 0 25px;
  }
  .fp-tableCell {
    padding-bottom: 44px;
  }
  .screen-first .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .screen-first .screen-wrap {
    margin-top: 0;
  }
  .screen-first .screen-wrap .screen-text .heading-screen-text {
    font-size: 20px;
    line-height: 25px;
  }
  .screen-first .screen-wrap .screen-text .screen-link {
    display: none;
  }
  .screen-first .screen-wrap .screen-text .btn-download {
    margin-top: 15px;
    font-size: 20px;
  }
  .screen-tenth .fp-tableCell {
    padding-bottom: 45px;
  }
  .footer-scrollpage .container {
    display: block;
  }
  .nomber-screen {
    display: none;
  }
  .screen-wrap {
    margin-top: 0;
  }
  .screen-wrap .screen-text .heading-screen-text {
    font-size: 20px;
    line-height: 25px;
  }
}

@media screen and (max-height: 450px) {
  .section {
    padding: 10px 0 12px;
  }
  .fp-tableCell {
    padding-bottom: 22px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nomber-block {
    display: none;
  }
  .screen-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
  }
  .screen-wrap .screen-text {
    font-size: 16px;
    line-height: 20px;
    width: 40%;
    margin-right: 0;
  }
  .screen-wrap .screen-img {
    width: 35%;
    margin-top: 0;
  }
  .btn-scroll {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: none;
  }
  .screen-first .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .screen-first .fp-tableCell {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .screen-first .screen-wrap {
    margin-top: 0;
  }
  .screen-first .screen-wrap .screen-text .heading-screen-text {
    font-size: 16px;
    line-height: 20px;
  }
  .screen-first .screen-wrap .screen-text .screen-link {
    display: none;
  }
  .screen-wrap .screen-text .btn-download {
    padding: 5px 25px;
    margin-top: 10px;
    font-size: 20px;
  }
  .screen-tenth .fp-tableCell {
    padding-bottom: 30px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .footer-scrollpage {
    min-height: auto;
  }
}
