.btn {
  height: 62px;
  min-width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  transition: all .2s linear;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;

  &.btn-def {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
    background-color: #92cf01;

    &.mini {
      height: 57px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      min-width: 225px;
    }

    &:hover {
      background-color: #9ed51c;
    }
  }
}

//Bg-----------------------
body {
  background: url("../img/bg.jpg") no-repeat center / cover;
  background-attachment: fixed;

  &.orange-bg {
    background: url("../img/orange-bg.png") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.blue-bg {
    background: url("../img/blue-vid-bg.jpg") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.pink-bg {
    background: url("../img/pink-bg.png") no-repeat center;
    background-attachment: fixed;
  }

  &.yellow-bg {
    background: url("../img/yellow-bg.jpg") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.online-movies-bg {
    background: url("../img/online-movies-bg.jpg") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.online-video-bg {
    background: url("../img/online-video-bg.png") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.download-music-bg {
    background: url("../img/download-music-bg.jpg") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.download-easy-screen-bg {
    background: url("../img/download-easy-screen-bg.jpg") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.downl-easy-screen-bg{
    background: url("../img/downl-easy-screen-2-bg.jpg") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.keep-share-bg{
    background: url("../img/keep-share-bg.png") no-repeat center / cover;
    background-attachment: fixed;
  }

  &.keep-share-your-file{
    background: url("../img/keep-share-your-file.jpg") no-repeat center / cover;
    background-attachment: fixed;
  }
}

header {
  padding: 30px 0;
  position: relative;
}

.nav {

  .ar-img {
    margin-left: 10px;
  }

  .btn + .btn {
    margin-left: 25px;
  }
}

.ex-mob {
  display: none;
}

.down-img {
  margin-right: 23px;
}

.logo {
  margin-right: 25px;
}

.title {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;

  &.big {
    font-size: 60px;
    font-weight: 900;
    
    &.green {
      background-color: #b6d912;
      display: inline-block;
      padding: 5px 15px;
    }
  }
}

.file-name {
  font-weight: 700;
}

.nav-drop {
  position: relative;

  .drop-more {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    background-color: #92cf01;
    border-radius: 0 0 35px 35px;
    padding: 0 30px 20px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
    transition: all .2s linear;
    font-size: 14px;
    text-decoration: underline;
    opacity: 0;
    z-index: -1;

    li + li {
      margin-top: 7px;
    }

    &:hover {
      background-color: #9ed51c;
    }
  }

  .ar-img {
    transition: all .1s linear;
  }

  &.active {
    border-radius: 35px 35px 0 0;

    .drop-more {
      opacity: 1;
      z-index: 99;
    }

    .ar-img {
      transition: all .1s linear;
      transform: rotate(180deg);
    }
  }

  &:hover {

    .drop-more {
      background-color: #9ed51c;
    }
  }
}

.link-file {
  margin-top: 13px;
}

.copy,
.rubbish {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: all .1s linear;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .copy-ic-hover,
  .rubbish-ic-hover {
    display: none;
  }

  &:hover {
    background-color: #fff;

    .copy-ic,
    .rubbish-ic {
      display: none;
    }

    .copy-ic-hover,
    .rubbish-ic-hover {
      display: block;
    }
  }
}

// input
.form-group {

  input, textarea {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #717171;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  & + .form-group {
    margin-top: 25px;
  }
}

textarea {
  min-height: 120px;
}

.burger {
  width: 20px;
  display: none;
  cursor: pointer;

  span {
    background-color: #fff;
    height: 2px;
    width: 100%;
    display: block;

    & + span {
      margin-top: 5px;
    }
  }
}

// Download ----------------------------------------
.drop {
  padding-top: 20px;
}

.drop-files-wrap {
  padding: 0 65px;

  .file {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    display: block;
    box-shadow: 0 0 13px rgba(119, 94, 164, 0.75);
    border-radius: 20px;
    color: #7055fc;
    text-align: center;
    cursor: pointer;
    padding: 15px 0;

    input {
      display: none;
      opacity: 0;
      position: absolute;
      z-index: -1;
      bottom: 0;
    }

    .big-plus {
      margin-top: 15px;
      margin-bottom: 30px;
    }

    .drop-title {
      margin-top: 15px;
      font-size: 24px;
    }

    .big-arr {
      position: absolute;
      right: 100.5%;
      bottom: -55px;
    }

    .big-arr-files {
      position: absolute;
      top: -77px;
      right: -69px;
    }
  }
}

.uploading {
  padding-top: 25px;
}

.load-wrap {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  border-radius: 20px;
  padding: 20px 0 13px;
  margin-top: 10px;

  .file-name {
    text-align: right;
    padding-right: 15px;
  }
}

.line-full-load {
  position: relative;
  height: 6px;
  max-width: 695px;
  width: 100%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  background-color: #372a7e;
  margin-top: 6px;
}

.line-load {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 75%;
  height: 2px;
  background-image: linear-gradient(to right, #b90068 0%, #becf01 100%);

  .percent {
    position: absolute;
    right: -15px;
    top: -24px;
    font-weight: 700;
  }
}

.link-file {
  justify-content: flex-end;
  padding-right: 15px;

  .copy {
    margin-left: 15px;
  }
}

input.copy-link {
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  min-width: 210px;
  text-align: right;
}

.copy-link-wrap {
  width: 100%;

  input {
    width: 100%;
  }
}

.history {
  padding-top: 35px;
  overflow: hidden;
}

.history-table {
  border-collapse: collapse;
  width: 100%;

  tr + tr {
    border-top: 1px solid #fff;
  }

  td {
    display: inline-table;
    margin: 10px;
  }
}

.hov-more {
  position: absolute;
  width: 160px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(56, 42, 126, .9);
  border-radius: 15px;
  bottom: calc(100% + 18px);
  left: -20px;
  opacity: 0;
  z-index: -1;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    border: 7px solid transparent;
    width: 0;
    height: 0;
    border-top: 14px solid rgba(56, 42, 126, .9);
    left: 30px;

  }
}

.answer-load {
  position: relative;
  cursor: pointer;

  .suc,
  .err {
    display: none;
  }

  &.successful {

    .suc {
      display: block;
    }
  }

  &.error {

    .err {
      display: block;
    }
  }

  &:hover {

    .hov-more {
      opacity: 1;
      z-index: 1;
    }
  }
}

//Download-page ----------------------------
.heading-text {
  font-size: 48px;
  margin-left: 12px;
  line-height: 45px;
}

.drop {
  .container {
    flex-direction: column;
  }
}

.advertising {
  width: 67%;
  height: 90px;
  background-color: #fff;
  align-self: center;
}

.center-wrap {
  margin-top: 130px;

  .download-page-wrap {
    text-align: center;
    flex-direction: column;
    justify-content: center;

    .file-wrap {
      position: relative;
      display: block;
      box-shadow: 0 0 13px rgba(49, 47, 47, 0.75);
      text-align: center;
      padding: 15px 0;
      width: 160px;
      height: 160px;
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;

      .photo {
        margin-top: 15px;
        margin-bottom: 30px;
      }
    }

    .file-loaded {
      height: 100%;
      width: 325px;
      
      .photo {
        max-width: 100%;
        width: 100%;
        max-height: auto;
        cursor: pointer;
      } 
    }

    .drop-title {
      margin-top: 10px;
    }
  }

  .advertising {
    width: 300px;
    height: 250px;
  }
}

.download-line {
  margin: 20px 0 80px;
  flex-direction: column;
  align-items: center;

  .tab-line {
    justify-content: center;
    align-items: center;

    .tabl-inp {
      margin-right: 80px;
    }
  }

  .tabl-copy {

    .popup-btn {
      width: 40px;
      height: 40px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-left: 10px;
      transition: all .1s linear;
      position: relative;
      cursor: pointer;
      flex-shrink: 0;

      &:hover {
        background-color: #fff;
      }

      span {
        position: absolute;
        top: 50%; 
        margin-top: -1px;
        left: 50%; 
        margin-left: -9px;
        width: 18px;
        height: 2px;
        background-color: #fff;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%; 
          margin-top: -1px;
          left: 50%; 
          margin-left: -9px;
          width: 18px;
          height: 2px;
          background-color: #fff;
        }

        &:before {
          transform: translateY(-5px);
        }

        &:after {
          transform: translateY(5px);
        }
      }

      &:hover span{
        background-color: #7055fc;
      }

      &:hover span:after{
        background-color: #7055fc;
      }

      &:hover span:before{
        background-color: #7055fc;
      }
    }
  }

  .file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    padding: 16px 13px 14px;
    border: 2px solid #fff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all .2s;  

    use {
      fill: #fff;
    }

    input {
      display: none;
      opacity: 0;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 35px;
    }

    &:hover {
      background-color: #fff;
    }

    &:hover use {
      fill: #7055fc;
    }
  }
}

.center-wrap-img {
    margin-top: 80px;
    flex-shrink: 0;

    .photo {
        width: 100%;
        cursor: pointer;
    }
}

  

// Privat
.def-section {
  padding-top: 60px;
}

.content-privacy {
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  .privacy-card {
    margin-top: 60px;
  }

  .privacy-title {
    font-size: 24px;
    font-weight: 700;
  }

  .privacy-text {
    margin-top: 15px;
  }
}

// Contacts -----------------------
.form-wrap {
  max-width: 540px;
  width: 100%;
  margin: 85px auto 0;

  .form-mt {
    margin-top: 65px;
  }
}

.form-group {
  height: 46px;
  box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
  border-radius: 23px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;

  &.text-area {
    padding: 15px 20px;
    display: block;
    height: auto;
  }
}

// My Files ----------------------------
.wrap-files-card {
  flex-wrap: wrap;
  margin: 0 -9px;
  justify-content: center;
}

.files-card {
  width: 15%;
  margin: 45px 9px 0;
  position: relative;

  .icon-files {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
    border-radius: 30px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all .2s linear;
    overflow: hidden;

    .ic-files {
      transition: all .2s linear;
    }

    .hov-card {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      z-index: -1;
      transition: all .2s linear;

      div + div {
        margin-left: 25px;
      }
    }

    &:hover {
      background-color: rgba(56, 42, 126, 0.8);

      .ic-files {
        opacity: 0;
      }

      .hov-card {
        opacity: 1;
        z-index: 1;
      }
    }
  }

  .file-title {
    text-align: center;
    margin-top: 5px;
  }

  .copy-link.card {
    position: absolute;
    opacity: 0;
    z-index: -9;
  }
}

.files-card-clear {
  width: 15%;
}

.more-card {
  margin-top: 100px;

  .btn {
    min-width: 160px;
  }
}

// Index----------------------------------
.info {
  margin-top: 60px;

  .container {
    flex-wrap: wrap;
  }
}

.info-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.info-card {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  padding: 15px 19px 20px;
  width: 49%;
  border-radius: 20px;

  &.big {
    width: 100%;
    margin-top: 55px;
    text-align: center;

    .info-title {
      font-size: 24px;
    }

    .info-desc {
      margin-top: 3px;

      p + p {
        margin-top: 5px;
      }
    }
  }
}

.info-desc {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;

  p + p {
    margin-top: 15px;
  }

  li {
    display: flex;
    align-items: center;

    img {
      flex-shrink: 0;
      margin-right: 20px;
    }

    & + li {
      margin-top: 13px;
    }
  }
}

.info-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
}

ul.info-desc {
  padding-left: 30px;
}

// Cookies--------------------------------
.cookies {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1115px;
}

.cookies-wrap {
  background-color: #fff;
  height: 0;
  min-height: 73px;
  box-shadow: 0 0 13px rgba(119, 94, 164, 0.75);
  border-radius: 20px 20px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: #000000;
    font-size: 18px;
    font-style: italic;
  }

  .exit {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  a {
    color: #7055fc;
    text-decoration: underline;
  }
}

//Def section -------------------------------
.default-screen {
  padding: 120px 0;
  text-align: center;
  overflow: hidden;

  &.min {
    padding: 0 0 100px 0;
  }
}

.def-content {
  margin: 75px 0 60px;
  position: relative;
}

.speed {
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translateX(-50%);

  .speed-line {
    position: absolute;
    bottom: 83px;
    left: 56%;
    transform: translateX(-50%) rotate(-42deg);
    transform-origin: 30% 65%;
    transition: all .2s linear;
  }

  &.active {

    .speed-line {
      transform: translateX(-50%) rotate(42deg);
    }
  }
}

.btn-wrap {
  display: flex;
  justify-content: center;

  .btn {
    height: auto;
    font-size: 72px;
    font-weight: 300;
    padding: 10px 60px 15px;
    background-color: #b6d912;

    &:hover {
      background-color: #c9d912;
    }
  }

  &_new {

    .btn-def {

      &_border {
        border-radius: 59px;

        &:hover {
          background-color: #ffc600;
        }
      }
    }
  }
}

.speed-screen,
.sound-screen{
  margin: 130px 0;
}

.sound-screen {
  cursor: pointer;
}

.left-s,
.right-s{
  position: absolute;
  top: 50%;
}

.left-s {
  left: 7%;
  transition: all .2s linear;
  transform: translateY(-50%) rotate(-10deg);
}

.right-s {
  right: 7%;
  transition: all .2s linear;
  transform: translateY(-50%) rotate(10deg);
}

.sound-img {
  position: relative;
  z-index: 2;
}

.sound-screen.active {

  .left-s {
    transform: translateY(-50%) rotate(10deg);
  }

  .right-s {
    transform: translateY(-50%) rotate(-10deg);
  }
}

//Download-music ----------------------------
.download-music-bg {

  .def-content {
    width: 100%;
    height: 538px;
    background: url("../img/music-line.png") repeat-x;

    img {
      display: none;
    }
  }
}

// Standart Card-------------
.standart-card-wrap {
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: -25px;
}

.standart-card {
  width: 31%;
  min-height: 290px;
  border-radius: 60px;
  padding: 15px 20px;
  text-align: center;
  margin-left: 25px;
  margin-top: 15px;

  &.seren {
    background-color: #48396f;
  }

  &.orange-light {
    background-color: #ff932d;
  }

  &.yellow {
    background-color: #ffb807;
  }

  &.orange {
    background-color: #ff793c;
  }
}

.icon-s-card {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-s-card {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
}

.desc-s-card {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

// FAQ-------------------------------------
.faq {
  margin-top: 50px;
}

// Footer-------------------------------------
footer {
  min-height: 150px;
  height: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.foot-nav {

  a {

    & + a {
      margin-left: 30px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.black {
    color: #000000;
  }
}

.logo-foot {
  margin-top: 20px;
  display: inline-block;
}

// Popup--------------------------------
.popup {
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;

  &.active {
    opacity: 1;
    z-index: 99999999;
  }

  .form {
    margin-top: 30px;

    .copy-inp {
      margin-bottom: 20px;
      width: 100%;
      -webkit-appearance: none;
      height: 36px;
      padding-left: 15px;
      box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
      border-radius: 18px;
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, .1);
      color: #717171;
    }
  }
}

.pop-continue {
  max-width: 355px;
  width: 100%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
  border-radius: 30px;
  padding: 45px 25px;
  position: relative;

  .text-pop {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: #555555;
    text-align: center;
  }

  .down {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .foot-nav {
    color: #444444;
    margin-top: 55px;
    text-align: center;
  }

  .exit-pop {
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
  }

  .pop-continue-text {
    text-align: center;
    color: #000000;
    font-size: 24px;
  }
}

.download-pop {

  .pop-continue {
    height: 300px;
    margin-top: -20%;
  }

  .icon-download {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 102%;
  }
}

.click-img {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

// Notif -----------------------------
.notif {
  padding: 30px 30px 14px;
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0,0,0, .7);

  .notif-text {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 25px;

    p + p {
      margin-top: 10px;
    }
  }

  .exit-notif {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  &.active {
    z-index: 99;
    opacity: 1;
  }
}

// Manual -----------------------------
.scroll-fullpage {
    background: url('../img/screen10-bg.jpg') no-repeat center/cover;
}

.section {
  padding: 40px 0 50px;
}

.fp-tableCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 88px;
}

.screen-first {
  background: url("../img/screen1-bg.jpg") no-repeat;
  background-size: cover;
}

.screen-second {
  background: url("../img/screen2-bg.jpg") no-repeat;
  background-size: cover;

  .screen-wrap {  
    .screen-img {

      .big-arrow {
        top: 160px;
        left: -285px;
      }
    }
  }
}

.screen-third {
  background: url("../img/screen3-bg.jpg") no-repeat;
  background-size: cover;

  .screen-wrap {  
    .screen-img {

      .big-arrow {
        top: 35px;
        left: -195px;
      }
    }
  }
}

.screen-fourth {
  background: url("../img/screen4-bg.jpg") no-repeat;
  background-size: cover;

  .screen-wrap {  
    .screen-img {

      .big-arrow {
        top: 165px;
        left: 265px;
      }
    }
  }
}

.screen-fifth {
  background: url("../img/screen5-bg.jpg") no-repeat;
  background-size: cover;

  .screen-wrap {  
    .screen-img {

      .big-arrow {
        top: 70px;
        left: 255px;
      }
    }
  }
}

.screen-sixth {
  background: url("../img/screen6-bg.jpg") no-repeat;
  background-size: cover;

  .screen-wrap {  
    .screen-img {

      .big-arrow {
        top: -180px;
        left: -275px;
      }
    }
  }
}

.screen-seventh {
  background: url("../img/screen7-bg.jpg") no-repeat;
  background-size: cover;

  .screen-wrap {  
    .screen-img {

      .big-arrow {
        top: -80px;
        left: -330px;
      }
    }
  }
}

.screen-eighth {
  background: url("../img/screen8-bg.jpg") no-repeat;
  background-size: cover;

  .screen-wrap {  
    .screen-img {

      .big-arrow {
        top: -100px;
        left: -330px;
      }
    }
  }
}

.screen-ninth {
  background: url("../img/screen9-bg.jpg") no-repeat;
  background-size: cover;
}

.screen-tenth {
  background: url("../img/screen10-bg.jpg") no-repeat;
  background-size: cover;
  padding: 40px 0 0;

  .fp-tableCell {
    padding-bottom: 40px;
  }
}

.nomber-screen {
  font-size: 290px;
  line-height: 198px;
}

.screen-wrap {
    padding-left: 15px;
    margin-top: 40px;
  
  .screen-text {
    width: 32%;
    text-align: center;
    margin-right: 80px;
    position: relative;
    z-index: 1;
    align-self: center;
    
    .heading-screen-text {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 34px;
    }

    .screen-link {
        margin-top: 50px;
        font-size: 24px;

        .btn-start-download {
            font-weight: 700;
            text-decoration: underline;
        }

        .link-screen-text {
            line-height: 30px;
        }
    }

    .btn-download {
        margin-top: 80px;
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        box-shadow: 0 0 18px rgba(0, 126, 134, 0.75);
        border-radius: 51px;
        background-image: linear-gradient(to right, #ffd200 0%, #ffa800 100%);
        padding: 35px 120px;
        cursor: pointer;

        &_little {
          margin-top: 50px;
          padding: 20px 80px;
        }
    }
  }

  .screen-img {
    position: relative;

    img:first-child {
        width: 100%;
    }

    .big-arrow {
      position: absolute;
      top: 150px;
      left: -120px;
    }
  }
}

.btn-scroll {
  width: 70px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  align-self: center;

  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #fff;
    width: 50px;
    height: 3px;
    transform-origin: left; 
    transform: rotate(45deg);
  }

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 19px;
    background-color: #fff;
    width: 50px;
    height: 3px;
    transform-origin: right; 
    transform: rotate(-45deg);
  }

  span {
    display: block;
    position: relative;
    left: -1px;
    top: 6px;
    width: 100%;
    height: 30px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 11px;
      background-color: #fff;
      width: 35px;
      height: 2px;
      transform-origin: left; 
      transform: rotate(45deg);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 25px;
      background-color: #fff;
      width: 35px;
      height: 2px;
      transform-origin: right; 
      transform: rotate(-45deg);
    }
  }
}

.footer-scrollpage {
    min-height: 80px;

    a {
        font-size: 24px;
        text-transform: uppercase;
    }
}