// Loader
.ball {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 35px #2187e7;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear;
}

.ball1 {
  background-color: rgba(0,0,0,0);
  border: 5px solid rgba(0,183,229,0.9);
  opacity: .9;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  border-radius: 50px;
  box-shadow: 0 0 15px #2187e7;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  -moz-animation: spinoff .5s infinite linear;
  -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: all .2s linear;

  &.active {
    z-index: 999999;
    opacity: 1;
  }
}

.load-wraper {
  height: 50px;
}

// Accordion
.accordion-name {
  padding: 20px 50px 20px 45px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
  border-radius: 28px;
  background-color: #ffffff;
  font-size: 18px;
  transition: all .1s linear;
}

.accordion {
  color: #737373;

  & + .accordion {
    margin-top: 25px;
  }

  .accordion-content {
    color: transparent;
  }

  &.open {
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.09);
    border-radius: 28px;

    .accordion-name {
      border-radius: 28px 28px 0 0;
      background-color: #fff;
    }

    .accordion-content {
      background-color: #fff;
      border-radius: 0 0 28px 28px;
      color: #737373;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 10px;
        background-color: #fff;
      }
    }
  }
}

.accordion-wrap {
  width: 100%;
  max-width: 920px;
  margin: 55px auto 50px;
}

.accordion-content {
  font-weight: 600;
  font-style: italic;
  line-height: 30px;
  position: relative;

  div {
    padding: 15px 15px 40px;
  }
}