.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1115px;
  margin: 0 auto;
}

.flex-cont {
  display: flex;
  flex-wrap: nowrap;
}

.justify-sb {
  justify-content: space-between;
}

.justify-sa {
  justify-content: space-around;
}

.flex-d-column-rev {
  flex-direction: column-reverse;
}

.justify-c {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-e {
  justify-content: flex-end;
}

.w20 {
  width: 20%;
}