@media screen and (max-width: 1920px) {
  .download-music-bg {

    .def-content {
      height: auto;
      background: none;

      img {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .screen-wrap {  
    .screen-text {
      width: 50%;

      .screen-link {
          margin-top: 30px;
      }

      .btn-download {
        margin-top: 50px;

        &_little {
          margin-top: 30px;
        }
      }
    }
    .screen-img {

      .big-arrow {
        display: none
      }
    }
  }
}

@media screen and (max-width: 1115px) {
  .btn {
    min-width: 220px;
    font-size: 14px;
  }

  .nav .btn + .btn {
    margin-left: 15px;
  }

  .cookies-wrap {
    padding: 0 30px;
    text-align: center;
  }

  .cookies {
    width: 90%;
    max-width: 100%;
  }

  .right-s {
    right: 1%;
  }

  .left-s {
    left: 1%;
  }

  .standart-card {
    width: 45%;
  }

  .screen-wrap {  
    .screen-text {
      width: 50%;
      margin-right: 15px;

      .screen-link {
          margin-top: 15px;
      }

      .btn-download {
        margin-top: 30px;

        &_little {
          margin-top: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  header {
    padding:  15px 0;

    .container {
      flex-direction: column;
    }
  }

  .nav {
    margin-top: 15px;
  }

  .logo {
    margin-right: 0;
  }

  .drop {
    margin-top: 55px;
  }

  .w20 {
    width: 30%;
  }

  .files-card,
  .files-card-clear{
    width: 18%;
  }

  .info-title {
    font-size: 24px;
  }

  ul.info-desc {
    padding-left: 0;
  }

  .right-s,
  .left-s {
    width: 300px;
  }

  .heading-text {
    margin-left: 0;
    margin-top: 15px;
    text-align: center;
  }

  .advertising {
    width: 77%;
  }

  .center-wrap {
    flex-direction: column;
    margin-top: 60px;
    .download-page-wrap {
      align-items: center;
      margin: 25px 0;
    }
  }

  .download-line {
    margin: 20px 0 50px;
  }

  .screen-first {
    .screen-wrap { 
      padding-right: 15px;

      .screen-text {
        width: 100%;
        margin-right: 0;

        .screen-link {
            margin-top: 40px;
        }

        .btn-download {
          margin-top: 80px;
        }
      }

      .screen-img {
        display: none;
      }
    }
  }

  .screen-wrap {
    .screen-img {
      width: 90%;
    }
  }
}

@media screen and (max-width: 767px) {
  .standart-card {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }

  .standart-card-wrap {
    margin-left: 0;
  }

  .info-card {
    width: 100%;

    &.big {
      margin-top: 0;
    }

    & + .info-card {
      margin-top: 30px;
    }
  }

  .cookies-wrap p {
    font-size: 16px;
  }

  .action-load {
    flex-direction: column;
    padding: 0 20px;
  }

  .line-full-load {
    margin-top: 25px;
  }

  .load-wrap .file-name {
    text-align: center;
    padding-right: 0;
  }

  .w20 {
    width: auto;
  }

  .burger {
    display: block;
  }

  header .container {
    flex-direction: row;
  }

  .nav {
    margin-top: 0;
  }

  .nav .btn + .btn {
    margin-left: 0;
    margin-top: 15px;
  }

  .nav-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    flex-direction: column;
    padding: 15px 40px 15px;
    background-color: #ffffff;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.33);
    border-radius: 0 0 0 20px;

    &.active {
      z-index: 99;
      opacity: 1;
    }
  }

  .ex-mob {
    display: block;
    position: absolute;
    right: 15px;
    top: 45px;
    width: 20px;
    cursor: pointer;
  }

  .logo {
    width: 180px;
  }

  .files-card,
  .files-card-clear{
    width: 30%;
  }

  .title.big {
    font-size: 43px;
  }

  .btn-wrap .btn {
    font-size: 55px;
  }

  .notif .notif-text {
    font-size: 20px;
  }

  .ok-down {
    width: 100px;
  }

  .default-screen {
    padding: 80px 0;
  }

  .right-s, .left-s {
    width: 100px;
  }

  .right-s {
    right: 0;
  }

  .left-s {
    left: 0;
  }

  .speed {

    .speed-line {
      bottom: 27%;
      width: 118px;
    }
  }

  .accordion-name {
    font-size: 14px;
  }

  .header-download-page {
    .container {
      flex-direction: column;
      text-align: center;
    }
  }

  .heading-text {
    width: 100%;
  }

  .advertising {
    width: 100%;
  }

  .nomber-screen {
    font-size: 250px;
    line-height: 170px;
  }

  .screen-wrap {
    padding-right: 15px;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;

    .screen-text {
      width: 100%;
      margin-right: 0;
      flex: 1 0 auto;
      display: block;
    }

    .screen-img {
      width: 80%;
      margin-top: 30px;
      flex-shrink: 0;
      flex: 1 0 auto;
      display: block;
    }
  }

  .footer-scrollpage {
    a {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 479px) {
  .title-s-card {
    font-size: 22px;
  }

  .desc-s-card {
    font-size: 16px;
  }

  .click-img {
    display: none;
  }

  .info-title,
  .info-card.big .info-title{
    font-size: 20px;
  }

  .info-desc {
    font-size: 15px;
  }

  .big-arr-files,
  .big-arr {
    display: none;
  }

  .drop-files-wrap {
    padding: 0;
  }

  .drop-files-wrap .file {
    padding: 15px;
  }

  .tabl-inp {
    width: 67%;
  }

  .tabl-copy {
    width: 24%;
  }

  .cookies-wrap p {
    font-size: 14px;
  }

  .cookies-wrap {
    min-height: 90px;
  }

  .files-card,
  .files-card-clear{
    width: 50%;
  }

  .title.big {
    font-size: 25px;
  }

  .btn-wrap .btn {
    font-size: 36px;
  }

  .ok-down {
    width: 36px;
  }

  .notif .notif-text {
    font-size: 14px;
  }

  .notif .notif-text p + p {
    margin-top: 5px;
  }

  .notif .exit-notif {
    top: 15px;
    right: 15px;
  }

  .icon-download {
    display: none;
  }

  .right-s, .left-s {
    display: none;
  }

  .sound-screen {
    margin: 50px 0;
  }

  .speed {
    top: -40px;

    .speed-line {
      width: 76px;
      left: 58%;
    }
  }

  .download-line {
    .tab-line {
      flex-direction: column;
      
      .tabl-inp {
        margin-right: 0;
        width: 100%;
      }

      .tabl-copy {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
      }
    }
  }

  .center-wrap {
    .download-page-wrap {
      .file-loaded {
        width: 300px;
      }
    }
  }

  .footer-download-page {
    a {
      display: block;
    }

    a + a {
      margin-left: 0;
      margin-top: 5px;
    }
  }

  .fp-tableCell {
    justify-content: center;
  }

  .screen-first {  
    .container {
      flex-direction: column;
    }

    .fp-tableCell {
      justify-content: space-around;
    }

    .logo {
      margin-bottom: 20px;
    }

    .nomber-screen {
      align-self: flex-end;
    } 
    .screen-wrap {
      .screen-text {
        .heading-screen-text {
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 34px;
        }

        .screen-link {
          display: none;
        }
      }
    }
  }

  .screen-tenth {
    .fp-tableCell {
      padding-bottom: 80px;
      justify-content: space-around;
    }
  }

  .screen-wrap {
    .screen-text {
      .btn-download {
        margin-top: 40px;
        padding: 20px 80px;

        &_little {
          margin-top: 10px;
          font-size: 20px;
          padding: 5px 25px;
        }
      }
    }
  }

  .btn-scroll {
    flex-shrink: 0;
    display: none;
  }
}

@media screen and (max-height: 850px) {
  .section {
    padding: 20px 0 25px;
  }

  .fp-tableCell {
    padding-bottom: 44px;
  }

  .screen-first {
    .container {
      display: flex;
    }
    
    .screen-wrap {
      margin-top: 0;
      .screen-text {
        .heading-screen-text {
          font-size: 20px;
          line-height: 25px;
        }

        .screen-link {
          display: none;
        }
      }
    }

    .screen-wrap {
      .screen-text {
        .btn-download {
          margin-top: 15px;
          font-size: 20px;
        }
      }
    }
  }

  .screen-tenth {
    .fp-tableCell {
      padding-bottom: 45px;
    }
  }

  .footer-scrollpage {
    .container {
      display: block;
    }
  }

  .nomber-screen {
    display: none;
  }

  .screen-wrap {
    margin-top: 0;
    .screen-text {
      .heading-screen-text {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}

@media screen and (max-height: 450px) {
  .section {
    padding: 10px 0 12px;
  }

  .fp-tableCell {
    padding-bottom: 22px;
    justify-content: center;
  }

  .nomber-block {
    display: none;
  }

  .screen-wrap {
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;

    .screen-text {
      font-size: 16px;
      line-height: 20px;
      width: 40%;
      margin-right: 0;
    }

    .screen-img {
      width: 35%;
      margin-top: 0;
    }
  }

  .btn-scroll {
    flex-shrink: 0;
    display: none;
  }

  .screen-first {
    .container {
      display: flex;
    }

    .fp-tableCell {
      justify-content: space-around;
    }
    
    .screen-wrap {
      margin-top: 0;
      .screen-text {
        .heading-screen-text {
          font-size: 16px;
          line-height: 20px;
        }

        .screen-link {
          display: none;
        }
      }
    }
  }

  .screen-wrap {
    .screen-text {
      .btn-download {
        padding: 5px 25px;
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }

  .screen-tenth {
    .fp-tableCell {
      padding-bottom: 30px;
      justify-content: space-around;
    }
  }

  .footer-scrollpage {
    min-height: auto;
  }
}