/*STYLE RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font: 300 14px "Open Sans", sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

label {
  margin: 0;
}

input, button, select {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.wrapper {
  margin-top: -150px;
  min-height: 100%;
}

.content-wrap {
  padding-top: 150px;
}

/*STYLE RESET END*/